footer {
  box-sizing: border-box;
  padding-bottom: 20px;
  background-color: #7690c5; }
  footer p {
    margin: 0;
    padding: 10px 0;
    color: #ffffff;
    text-align: center; }

.line {
  border-top: 1px solid #ffffff; }
